@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>APIs: <a href="https://localhost:5001/api/user">connect to the user API</a>.</p>
</div>
